<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h2 class="text-dark bg-light py-4 mb-0">新規登録</h2>
       <div class="form-body p-4">
        <div class="mx-auto text-center">
          <p>名前・メールアドレス<br>パスワードを入力してください。</p>
        </div>

          <%= form_with model: @user, url: user_registration_path do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div>
              <div>
                <%= f.label :名前 %><br>
                <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"名前" %>
              </div>
              <div>
                <%= f.label :メールアドレス %><br />
                <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
              </div>

              <div>
                <%= f.label :パスワード %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
              </div>

              <div>
                <%= f.label :パスワード確認 %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "新規登録", class:"btn btn-block btn-info mt-5" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
