<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">

      <h2 class="text-dark bg-light p-4 mb-0">投稿編集</h2>
        <div class="form-body p-4">
          <%= form_with(model: @post_image, local: true) do |form| %>
            <%= form.radio_button :is_public, true %> 公開
            <%= form.radio_button :is_public, false %> 非公開

            <% if @post_image.image.attached? %>
              <h5>現在の画像</h5>
              <%= image_tag @post_image.image, size: '200x200' %>
            <% end %>

            <h5>画像</h5>
            <%= form.file_field :image, accept: "image/*" %>
            <h5>タイトル</h5>
            <%= form.text_field :title, class:"form-control" %>
            <h5>説明</h5>
            <%= form.text_area :caption, class:"form-control" %>

            <%= form.submit '変更', class:"btn btn-lg btn-block btn-info mt-4" %>
          <% end %>
        </div>
    </div>
  </div>
</div>