<div class="post-detail py-5 bg-light">
  <div class="card w-75 mx-auto mt-4 shadow-lg">
    <%= image_tag @post_image.get_image, class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag @post_image.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">タイトル：<%= @post_image.title %></p>
          <p class="card-text">説明：<%= @post_image.caption %></p>
          <span><i class="fa-regular fa-user"></i><%= @post_image.user.name %> ｜ </span>
          <span><i class="fa-regular fa-calendar-days"></i><%= @post_image.created_at.strftime('%Y/%m/%d') %> ｜ </span>
          <span><i class="fa-regular fa-comment"></i><%= link_to "#{@post_image.post_comments.count}", post_image_path(@post_image.id) %> ｜ </span>
          <span id = "like_<%= @post_image.id %>">
            <%= render partial: "public/likes/like", locals: { post_image: @post_image } %>
           ｜ </span>
          <% if @post_image.user == current_user %>
            <span><%= link_to "投稿編集", edit_post_image_path(@post_image) %> ｜ </span>
            <span><%= link_to "削除", post_image_path(@post_image), method: :delete %></span>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="comments card-text">
        <p class="mt-3">コメント件数：<%= @post_image.post_comments.count %></p>
        <% @post_image.post_comments.each do |post_comment| %>
          <div class="media border mb-3">
            <%= image_tag post_comment.user.get_profile_image(60,60), class:"mt-3 rounded-circle"; %>
            <div class="media-body ml-4 p-3">
              <%= post_comment.user.name %>
              <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
              <% if post_comment.user == current_user %>
                <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      </hr>
      <div class="new-comment card-text">
        <%= form_with model: [@post_image, @post_comment] do |f| %>
          <div class="form-group">
            <div for="exampleFormControlTextarea1">コメントする</div>
              <%= f.text_area :comment, rows: '5', class: "form-control", placeholder: "コメントをここに" %>
          </div>
              <%= f.submit "送信する", class:"btn btn-lg btn-info mt-2 float-right" %>
        <% end %>
      </div>
      </div>
  </div>
</div>