<h1>会員詳細</h1>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<h1>User Details</h1>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Status: <%= @user.suspended ? 'Suspended' : 'Active' %></p>

<% if current_user.admin? %>
  <%= link_to 'Toggle Suspended', toggle_suspended_admin_user_path(@user), method: :patch %>
<% end %>

<%= link_to 'Back', admin_users_path %>