<h1>会員一覧</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Admin</th>
      <!-- 他のカラムを追加する場合はここに追記 -->
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.admin? ? 'Yes' : 'No' %></td>
        <!-- 他のカラムを表示する場合はここに追記 -->
        <td>
          <%= link_to 'Show', admin_user_path(user) %>
          <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>